In [10]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

In [8]:
s = pd.Series(dtype=float)
print(s)

Series([], dtype: float64)

In [12]:
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [13]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [14]:
data = [ 0., 1., 2., 3. ]
s = pd.Series(data, index=['b','c','d','a'])
print(s)

b    0.0
c    1.0
d    2.0
a    3.0
dtype: float64

In [15]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [16]:
s = pd.Series(5, index=[0, 1, 2, 3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [18]:
s = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
print(s[3])

4

In [19]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [20]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [21]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s['a'])

1

In [22]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [24]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
# print(s['f']) # 오류 (없는 키 사용)

In [25]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [26]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [28]:
data = [['Alex',30],['Bob',29],['Clarke',34]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   30
1     Bob   29
2  Clarke   34

In [29]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'], dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12584\3818164260.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Name','Age'], dtype=float)

In [30]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [31]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [32]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [33]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [34]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [35]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [39]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print(df['two'])

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [73]:
print( pd.DataFrame([1, 2, 3, 4]).dtypes )
print( pd.DataFrame([1, 2, 3, np.nan]).dtypes )

0    int64
dtype: object
0    float64
dtype: object

In [71]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df['three'] = pd.Series([10,20,30], index=['a','b','c'])
print(df)

df['four'] = df['one'] + df['three']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [72]:
df.dtypes

one      float64
two        int64
three    float64
four     float64
dtype: object

In [70]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print(df)

del df['one']
print(df)

df.pop('two')
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [57]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
# print(df)
# print(df['one'])      # 컬럼 이름으로 찾기
# print(df.loc['b'])    # 행 이름으로 찾기 (index로 찾기) 
# print(df.iloc[2])     # 행 순서 번호로 찾기
print(df[2:4])          # 행 순서 번호로 범위 찾기

   one  two
c  3.0    3
d  NaN    4

In [58]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12584\3294118838.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [64]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
df = df.append(df2)
df3 = df.drop(0, axis=0) # 행 index로 삭제
print(df3)
df4 = df.drop('a', axis=1) # 열 이름으로 삭제
print(df4)

   a  b
1  3  4
1  7  8
   b
0  2
1  4
0  6
1  8

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12584\4207444197.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [67]:
s = pd.Series(np.random.randn(4))
print(type(s), type(s.values), s.values)

<class 'pandas.core.series.Series'> <class 'numpy.ndarray'> [-1.74052462  0.15266196  0.49016068  1.18197325]

In [69]:
s = pd.Series(np.random.randn(4))
print(s.values)
print(s.head(2).values)
print(s.tail(2).values)

[-2.05782429  1.45146934 -0.78590912  0.99465993]
[-2.05782429  1.45146934]
[-0.78590912  0.99465993]

In [74]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
     'Age':pd.Series([25,26,25,23,30,29,23]),
     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df = pd.DataFrame(d)
print(df)

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [75]:
print(df.T)

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [76]:
print(df.axes)

[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [77]:
print(df.dtypes)

Name       object
Age         int64
Rating    float64
dtype: object

In [78]:
print(df.shape)

(7, 3)

In [79]:
print(df.values)

[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 30 3.2]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]

In [80]:
print(df.head(2))
print(df.tail(2))

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8