In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot

In [2]:
temperature_data = pd.read_csv("data-files/seoul-temperature.csv")

In [5]:
temperature_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41730 entries, 0 to 41729
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       41730 non-null  object
 1   지점       41730 non-null  int64
 2   평균기온(℃)  40974 non-null  float64
 3   최저기온(℃)  40971 non-null  float64
 4   최고기온(℃)  40971 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.6+ MB

In [3]:
temperature_data.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t1907-10-01  108     13.5      7.9     20.7
1  \t1907-10-02  108     16.2      7.9     22.0
2  \t1907-10-03  108     16.2     13.1     21.3
3  \t1907-10-04  108     16.5     11.2     22.0
4  \t1907-10-05  108     17.6     10.9     25.4

In [4]:
temperature_data.dtypes

날짜          object
지점           int64
평균기온(℃)    float64
최저기온(℃)    float64
최고기온(℃)    float64
dtype: object

In [9]:
na_check = temperature_data.isna()
# na_check

In [16]:
is_valid = na_check.sum(axis=1) == 0 # na가 아닌 데이터는 True 아니면 False
# is_valid[:5]

In [18]:
valid_data = temperature_data[is_valid]

In [19]:
valid_data.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t1907-10-01  108     13.5      7.9     20.7
1  \t1907-10-02  108     16.2      7.9     22.0
2  \t1907-10-03  108     16.2     13.1     21.3
3  \t1907-10-04  108     16.5     11.2     22.0
4  \t1907-10-05  108     17.6     10.9     25.4

In [28]:
obs_date = valid_data["날짜"] # valid_data.iloc[:, 0]
# obs_date.head()
obs_date2 = obs_date.map(lambda v: v.replace("\t", ""))
# valid_data["날짜"] = obs_date2
valid_data.loc[:, "날짜"] = obs_date2

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13096\2727243803.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_data.loc[:, "날짜"] = obs_date2

In [29]:
valid_data.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [35]:
max_temp_col = valid_data[valid_data.columns[4]] # valid_data.iloc[:, 4]
boolean_indexer = valid_data.iloc[:, 4] == max_temp_col.max()
valid_data[boolean_indexer]

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
40051  2018-08-01  108     33.6     27.8     39.6