In [2]:
import numpy as np

In [67]:
temperature_data = np.loadtxt("data-files/seoul-temperature.csv", delimiter=",", dtype=str)

In [68]:
print(temperature_data.shape)

(41731, 5)

In [69]:
titles = temperature_data[0,:]
temperature_data2 = temperature_data[1:,:]

In [70]:
print( titles )
print( temperature_data2[:2])

['날짜' '지점' '평균기온(℃)' '최저기온(℃)' '최고기온(℃)']
[['"\t1907-10-01"' '108' '13.5' '7.9' '20.7']
 ['"\t1907-10-02"' '108' '16.2' '7.9' '22']]

In [78]:
def transform_row(row):
    try:
        new_row = list(row)
        new_row[0] = row[0].replace("\t", "").replace("\"", "")
        new_row[1:] = list(map(lambda v : float(v), row[1:]) )        
    except:
        pass
    return list(new_row)

transformed = map(lambda row: transform_row(row), temperature_data2)
np.array( list(transformed) )

array([['1907-10-01', '108.0', '13.5', '7.9', '20.7'],
       ['1907-10-02', '108.0', '16.2', '7.9', '22.0'],
       ['1907-10-03', '108.0', '16.2', '13.1', '21.3'],
       ...,
       ['2023-03-04', '108.0', '7.7', '3.7', '14.1'],
       ['2023-03-05', '108.0', '8.0', '2.5', '15.4'],
       ['2023-03-06', '108.0', '9.2', '2.2', '16.5']], dtype='<U32')

In [81]:
# 날짜와 기온 데이터 분리 (numpy array는 문자열과 숫자를 동시에 저장할 수 없기 때문에...)
obs_date = temperature_data2[:, 0]
only_temperature = temperature_data2[:, 1:]

In [96]:
# '' 데이터 행 제거
boolean_indexer = list(map(lambda row : '' not in row, only_temperature)) #'' 없는 행 True, False로 구분
filtered_obs_date = obs_date[boolean_indexer] # True인 데이터만 뽑기
filtered_only_temperature = only_temperature[boolean_indexer] # True인 데이터만 뽑기

# 수치 변환 (string -> float)
transform_float = np.vectorize(float) # np.vectorize(함수) numpy에 함수 등록 (여기서는 변환 함수를 등록)
filtered_only_temperature = transform_float(filtered_only_temperature)

col_idx = np.where('최고기온(℃)' == titles)[0][0] # 조건에 해당하는 위치 반환

max_temperature = filtered_only_temperature[:, col_idx-1].max() # numpy array에서 max 값 찾기 
max_idx = np.argwhere(max_temperature == filtered_only_temperature[:, col_idx-1]) # 조건에 해당하는 위치 반환

# zip(list-a, list-b) -> list-a와 list-b에서 순서에 따라 한 개씩 꺼내서 결합한 요소로 새 list 만들기
for d, t in zip(filtered_obs_date[max_idx[0]], filtered_only_temperature[max_idx[0]]):
    print(d.replace("\t", "").replace("\"", ""), t)

2018-08-01 [108.   33.6  27.8  39.6]

In [93]:
len(only_temperature), sum(boolean_indexer) # True : 1, False : 0
filtered_only_temperature[:5]
titles, col_idx

(array(['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='<U13'), 4)