In [ ]:
# 유임 승차비율이 가장 높은 역을 찾으세요 + 이용고객이 가장 많은 역을 찾으세요

# 유임 승차 비율 컬럼을 추가 -> 비교 검색

In [16]:
import csv

with open('data-files/subwayfee.csv', 'rt', encoding="utf-8") as f:
    subwayfee_reader = csv.reader(f)

    titles = next(subwayfee_reader)
    titles = titles[1:-1] + ['유임승차비율', "승차고객", "하차고객", "총고객"]

    subwayfee = []
    for row in subwayfee_reader:
        filtered_row = row[1:-1] # 첫 번째 컬럼과 마지막 컬럼 제거
        filtered_row[3:] = map(lambda v: int(v.replace(",", "")), filtered_row[3:])
        paid_ratio = filtered_row[3] / (filtered_row[3] + filtered_row[5])
        filtered_row.append( paid_ratio if filtered_row[3] >= 10000 else 0 ) # 유임승차비율 추가
        filtered_row.append(filtered_row[3] + filtered_row[5]) # 승차 인원 추가
        filtered_row.append(filtered_row[4] + filtered_row[6]) # 하차 인원 추가
        filtered_row.append(sum(filtered_row[3:7])) # 총 인원 추가
        subwayfee.append(filtered_row)

In [14]:
# 단일 값 리스트 정렬 코드 테스트
numbers = [15, 6, 22, 11, 4, 31, 29]
print(numbers)
numbers.sort(reverse=True)
print(numbers)

# 복합 값 리스트 정렬 코드 테스트
numbers2 = [[15, 4], [6, 32], [22, 19]]
numbers2.sort()
print(numbers2)
numbers2.sort(key=lambda v: v[1]) # 각 복합 값의 1번째 데이터를 기준으로 정렬
print(numbers2)

[15, 6, 22, 11, 4, 31, 29]
[31, 29, 22, 15, 11, 6, 4]
[[6, 32], [15, 4], [22, 19]]
[[15, 4], [22, 19], [6, 32]]

In [18]:
subwayfee.sort(key=lambda v: v[7], reverse=True)
print( subwayfee[0:5] )
print( subwayfee[-1])

[['공항철도 1호선', '4203', '홍대입구', 371643, 370878, 17770, 16276, 0.954367214242976, 389413, 387154, 776567], ['2호선', '0239', '홍대입구', 1826125, 1942785, 90954, 87709, 0.9525559457904448, 1917079, 2030494, 3947573], ['경부선', '1001', '서울역', 256846, 75524, 13548, 2968, 0.9498953379143028, 270394, 78492, 348886], ['공항철도 1호선', '4206', '마곡나루(서울식물원)', 253684, 245482, 14782, 15533, 0.9449390239359919, 268466, 261015, 529481], ['6호선', '2632', '한강진', 259789, 302118, 15605, 15628, 0.9433357298997074, 275394, 317746, 593140]]
['6호선', '2649', '신내', 2, 0, 1, 0, 0, 3, 0, 3]

In [10]:
subwayfee[:5]

[['1호선',
  '0150',
  '서울역',
  1249188,
  1200852,
  189394,
  179379,
  0.8683467470050369,
  1438582,
  1380231,
  2818813],
 ['1호선',
  '0151',
  '시청',
  586202,
  598377,
  87441,
  84167,
  0.870196825321424,
  673643,
  682544,
  1356187],
 ['1호선',
  '0152',
  '종각',
  916978,
  900438,
  135260,
  128068,
  0.8714549370009447,
  1052238,
  1028506,
  2080744],
 ['1호선',
  '0153',
  '종로3가',
  463092,
  422317,
  296614,
  274619,
  0.6095673852779891,
  759706,
  696936,
  1456642],
 ['1호선',
  '0154',
  '종로5가',
  440520,
  440031,
  238125,
  229346,
  0.6491169904736644,
  678645,
  669377,
  1348022]]