In [2]:
# 1. 파일 데이터 읽기
import csv

with open("data-files/seoul-covid-19.csv", "rt", encoding="utf-8") as f:
    covid_reader = csv.reader(f)

    titles = next(covid_reader) # next : 목록(iterator)에서 다음 행으로 이동 ( 제목 표시 행 건너뛰기 )

    rows = []
    for row in covid_reader:
        row[1:] = map(lambda v: int(v) , row[1:]) # 1번째 요소부터 마지막 요소까지 숫자로 변경
        rows.append(row)

In [3]:
# rows 데이터에 서울전체, 서울추가 항목 추가

[['2023.03.07.00',
  79423,
  53,
  71355,
  30,
  122236,
  62,
  169152,
  69,
  204832,
  81,
  197634,
  95,
  217601,
  94,
  252140,
  121,
  160085,
  68,
  173527,
  74,
  300573,
  102,
  268990,
  135,
  180321,
  72,
  220629,
  91,
  258404,
  95,
  341440,
  139,
  237729,
  115,
  134626,
  41,
  239519,
  101,
  233749,
  122,
  294115,
  123,
  233441,
  121,
  302170,
  177,
  388312,
  211,
  271877,
  140,
  384115,
  216],
 ['2023.03.06.00',
  79370,
  8,
  71325,
  10,
  122174,
  8,
  169083,
  16,
  204751,
  22,
  197539,
  24,
  217507,
  24,
  252019,
  26,
  160017,
  21,
  173453,
  19,
  300471,
  55,
  268855,
  57,
  180249,
  18,
  220538,
  26,
  258309,
  23,
  341301,
  42,
  237614,
  19,
  134585,
  5,
  239418,
  24,
  233627,
  25,
  293992,
  53,
  233320,
  33,
  301993,
  45,
  388101,
  46,
  271737,
  33,
  383899,
  52],
 ['2023.03.04.00',
  79337,
  38,
  71295,
  38,
  122130,
  59,
  169007,
  36,
  204667,
  69,
  197453,
  56,
  217398,
  68,
  251908,
  102,
  159933,
  55,
  173389,
  56,
  300319,
  103,
  268714,
  82,
  180185,
  65,
  220439,
  89,
  258181,
  92,
  341156,
  134,
  237525,
  89,
  134543,
  42,
  239303,
  82,
  233504,
  105,
  293854,
  106,
  233215,
  87,
  301838,
  115,
  387893,
  128,
  271617,
  95,
  383702,
  223],
 ['2023.03.03.00',
  79299,
  35,
  71261,
  28,
  122071,
  58,
  168971,
  62,
  204598,
  83,
  197397,
  77,
  217331,
  83,
  251808,
  106,
  159878,
  63,
  173333,
  65,
  300216,
  83,
  268632,
  92,
  180120,
  65,
  220350,
  84,
  258089,
  87,
  341023,
  166,
  237438,
  86,
  134501,
  58,
  239270,
  109,
  233399,
  113,
  293749,
  86,
  233129,
  74,
  301723,
  115,
  387766,
  118,
  271522,
  109,
  383488,
  191],
 ['2023.03.02.00',
  79264,
  12,
  71233,
  19,
  122013,
  22,
  168909,
  25,
  204515,
  40,
  197320,
  24,
  217248,
  33,
  251702,
  57,
  159815,
  37,
  173268,
  30,
  300133,
  65,
  268540,
  44,
  180055,
  31,
  220266,
  41,
  258002,
  44,
  340857,
  73,
  237352,
  27,
  134443,
  24,
  239161,
  46,
  233286,
  55,
  293663,
  66,
  233055,
  56,
  301608,
  83,
  387648,
  54,
  271413,
  82,
  383297,
  110],
 ['2023.03.01.00',
  79252,
  24,
  71214,
  38,
  121991,
  53,
  168884,
  53,
  204475,
  62,
  197296,
  88,
  217215,
  77,
  251645,
  90,
  159778,
  57,
  173238,
  51,
  300068,
  84,
  268496,
  110,
  180024,
  63,
  220225,
  61,
  257958,
  91,
  340784,
  108,
  237325,
  107,
  134419,
  45,
  239115,
  98,
  233231,
  111,
  293597,
  140,
  232999,
  94,
  301525,
  115,
  387594,
  155,
  271331,
  95,
  383187,
  231],
 ['2023.02.28.00',
  79228,
  32,
  71176,
  32,
  121938,
  54,
  168831,
  62,
  204413,
  73,
  197208,
  71,
  217138,
  86,
  251555,
  113,
  159721,
  58,
  173187,
  61,
  299984,
  110,
  268386,
  105,
  179961,
  55,
  220164,
  88,
  257867,
  88,
  340676,
  144,
  237218,
  91,
  134374,
  52,
  239017,
  98,
  233120,
  100,
  293457,
  122,
  232905,
  66,
  301410,
  96,
  387439,
  136,
  271236,
  112,
  382956,
  221],
 ['2023.02.27.00',
  79196,
  7,
  71144,
  4,
  121884,
  11,
  168769,
  19,
  204340,
  24,
  197137,
  27,
  217052,
  22,
  251442,
  25,
  159662,
  18,
  173127,
  11,
  299874,
  23,
  268281,
  34,
  179906,
  13,
  220076,
  30,
  257779,
  18,
  340532,
  48,
  237127,
  16,
  134322,
  16,
  238919,
  19,
  233020,
  22,
  293335,
  28,
  232839,
  24,
  301314,
  39,
  387303,
  38,
  271124,
  36,
  382735,
  51],
 ['2023.02.26.00',
  79189,
  22,
  71140,
  20,
  121873,
  35,
  168750,
  36,
  204316,
  63,
  197110,
  65,
  217030,
  61,
  251417,
  71,
  159644,
  59,
  173116,
  48,
  299851,
  86,
  268247,
  74,
  179893,
  36,
  220046,
  47,
  257761,
  89,
  340484,
  101,
  237111,
  63,
  134306,
  44,
  238900,
  61,
  232998,
  87,
  293307,
  88,
  232815,
  67,
  301275,
  96,
  387265,
  134,
  271088,
  87,
  382684,
  127],
 ['2023.02.25.00',
  79167,
  25,
  71120,
  19,
  121838,
  39,
  168714,
  48,
  204253,
  66,
  197045,
  64,
  216969,
  61,
  251346,
  88,
  159585,
  43,
  173068,
  52,
  299765,
  90,
  268173,
  103,
  179857,
  46,
  219999,
  74,
  257672,
  78,
  340383,
  102,
  237048,
  52,
  134262,
  33,
  238839,
  66,
  232911,
  70,
  293219,
  97,
  232748,
  78,
  301179,
  113,
  387131,
  144,
  271001,
  84,
  382557,
  187]]