In [ ]:
# 유임 승차비율이 가장 높은 역을 찾으세요 + 이용고객이 가장 많은 역을 찾으세요

# 유임 승차 비율 컬럼을 추가 -> 비교 검색

In [16]:
import csv

with open('data-files/subwayfee.csv', 'rt', encoding="utf-8") as f:
    subwayfee_reader = csv.reader(f)

    titles = next(subwayfee_reader)
    titles = titles[1:-1] + ['유임승차비율', "승차고객", "하차고객", "총고객"]

    subwayfee = []
    for row in subwayfee_reader:
        filtered_row = row[1:-1] # 첫 번째 컬럼과 마지막 컬럼 제거
        filtered_row[3:] = map(lambda v: int(v.replace(",", "")), filtered_row[3:])
        paid_ratio = filtered_row[3] / (filtered_row[3] + filtered_row[5])
        filtered_row.append( paid_ratio if filtered_row[3] >= 10000 else 0 ) # 유임승차비율 추가
        filtered_row.append(filtered_row[3] + filtered_row[5]) # 승차 인원 추가
        filtered_row.append(filtered_row[4] + filtered_row[6]) # 하차 인원 추가
        filtered_row.append(sum(filtered_row[3:7])) # 총 인원 추가
        subwayfee.append(filtered_row)

In [14]:
# 단일 값 리스트 정렬 코드 테스트
numbers = [15, 6, 22, 11, 4, 31, 29]
print(numbers)
numbers.sort(reverse=True)
print(numbers)

# 복합 값 리스트 정렬 코드 테스트
numbers2 = [[15, 4], [6, 32], [22, 19]]
numbers2.sort()
print(numbers2)
numbers2.sort(key=lambda v: v[1]) # 각 복합 값의 1번째 데이터를 기준으로 정렬
print(numbers2)

[15, 6, 22, 11, 4, 31, 29]
[31, 29, 22, 15, 11, 6, 4]
[[6, 32], [15, 4], [22, 19]]
[[15, 4], [22, 19], [6, 32]]

In [18]:
subwayfee.sort(key=lambda v: v[7], reverse=True)
print( subwayfee[0:5] )
print( subwayfee[-1])

[['공항철도 1호선', '4203', '홍대입구', 371643, 370878, 17770, 16276, 0.954367214242976, 389413, 387154, 776567], ['2호선', '0239', '홍대입구', 1826125, 1942785, 90954, 87709, 0.9525559457904448, 1917079, 2030494, 3947573], ['경부선', '1001', '서울역', 256846, 75524, 13548, 2968, 0.9498953379143028, 270394, 78492, 348886], ['공항철도 1호선', '4206', '마곡나루(서울식물원)', 253684, 245482, 14782, 15533, 0.9449390239359919, 268466, 261015, 529481], ['6호선', '2632', '한강진', 259789, 302118, 15605, 15628, 0.9433357298997074, 275394, 317746, 593140]]
['6호선', '2649', '신내', 2, 0, 1, 0, 0, 3, 0, 3]

In [19]:
filtered_subwayfee = filter(lambda row: row[7] > 0, subwayfee)

In [21]:
list(filtered_subwayfee)[-5:]

[['우이신설선',
  '4707',
  '삼양사거리',
  34687,
  34309,
  33621,
  34120,
  0.5078028927797622,
  68308,
  68429,
  136737],
 ['중앙선',
  '1219',
  '용문',
  26624,
  27255,
  27936,
  27947,
  0.4879765395894428,
  54560,
  55202,
  109762],
 ['1호선',
  '0157',
  '제기동',
  220559,
  212160,
  259286,
  277782,
  0.45964634413195926,
  479845,
  489942,
  969787],
 ['1호선',
  '0159',
  '동묘앞',
  122760,
  130605,
  146547,
  149164,
  0.4558366473949805,
  269307,
  279769,
  549076],
 ['경원선',
  '1916',
  '소요산',
  29466,
  23236,
  46961,
  43019,
  0.38554437567875227,
  76427,
  66255,
  142682]]

In [23]:
# 총고객 기준 내림차순 정렬
subwayfee.sort(key=lambda row: row[-1], reverse=True)

In [26]:
[ (row[2], row[-1]) for row in subwayfee[:10] ]

[('강남', 4467590),
 ('잠실(송파구청)', 4374772),
 ('홍대입구', 3947573),
 ('구로디지털단지', 3137894),
 ('신림', 3068158),
 ('삼성(무역센터)', 2953408),
 ('역삼', 2865288),
 ('서울역', 2818813),
 ('신도림', 2754760),
 ('선릉', 2752869)]

In [28]:
[ (row[0], row[2], row[-1]) for row in subwayfee[-10:] ]

[('경의선', '운천', 271),
 ('3호선', '충무로', 48),
 ('6호선', '연신내', 28),
 ('분당선', '복정', 22),
 ('일산선', '지축', 15),
 ('경원선', '창동', 9),
 ('6호선', '신내', 3),
 ('경의선', '김포공항', 2),
 ('경의선', '계양', 2),
 ('경의선', '검암', 2)]

In [29]:
# 전처리 -> 데이터 구성
# 1. 년-월 컬럼, 처리일자 컬럼 제거
# 2. 숫자변환
import csv 

with open("data-files/subwaytime.csv", "rt", encoding="utf-8") as f:
    time_reader = csv.reader(f)

    # [ [], [], ... ]
    time_data = []
    for row in time_reader:
        r = row[1:4] + [ int(v.replace(",", "")) for v in row[4:-1] ]
        time_data.append(r)

In [30]:
time_data[:3]

[['1호선',
  '0150',
  '서울역',
  543,
  26,
  7202,
  7719,
  11072,
  45251,
  35896,
  97034,
  66013,
  211077,
  57146,
  142919,
  57504,
  73985,
  74479,
  67303,
  81531,
  76061,
  79480,
  75227,
  67535,
  67570,
  90100,
  74241,
  105815,
  75866,
  156895,
  88327,
  206509,
  91428,
  107347,
  63689,
  76674,
  44161,
  78852,
  36978,
  52229,
  25380,
  23492,
  12995,
  2267,
  2824,
  1,
  170,
  0,
  0,
  0,
  0],
 ['1호선',
  '0151',
  '시청',
  112,
  2,
  2179,
  3867,
  3307,
  20185,
  6670,
  64643,
  8493,
  186762,
  10256,
  82473,
  12755,
  38379,
  18481,
  39305,
  20123,
  36461,
  24815,
  35942,
  32522,
  32310,
  42777,
  29000,
  52961,
  26321,
  86342,
  26233,
  157030,
  24378,
  60313,
  12328,
  49946,
  7611,
  45664,
  6932,
  28972,
  5173,
  9628,
  3361,
  296,
  872,
  1,
  6,
  0,
  0,
  0,
  0],
 ['1호선',
  '0152',
  '종각',
  82,
  4,
  3078,
  4724,
  3733,
  24630,
  5417,
  101547,
  8981,
  256660,
  10967,
  140486,
  15736,
  60775,
  24374,
  61315,
  30699,
  55680,
  40587,
  52367,
  49979,
  43594,
  64651,
  39009,
  77911,
  40025,
  139537,
  45379,
  216150,
  49100,
  95000,
  24491,
  81194,
  11289,
  86633,
  7813,
  66982,
  5397,
  29476,
  3597,
  1071,
  624,
  0,
  0,
  0,
  0,
  0,
  0]]

In [ ]:
# 문제 1. 출근 시간대(7 ~ 9) 이용 고객이 많은 역

# 문제 2. 23시 이용 고객이 많은 역

# 문제 3. 시간대별로 승차인원이 가장 많은 역과 하차 인원이 가장 많은 역

# 문제 4. 시간대별 전체 이용고객 수